*.o
*.lo
*.la
*.pyc
.*.swp
.libs/
.deps/
.dirstamp
.ignore
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.log
config.status
configure
libtool
tags
.DS_Store
*.pdf
*.dot
*.so
CMakeLists.txt
CMakeLists.txt.in
cpu_vgg16_inference
cpu_vgg16_inference_
cpu_vgg16_inference_no_mlm
google_inf
google_inf_no_mlm
inference_test
inference_test_no_mlm
plz
resnet_inf
resnet_inf copy
resnet_inf_no_mlm
resnet_inf_no_mlm copy
resnet_short
training_test
vgg_inf
vgg_inf_no_mlm
vgg16
vgg16_inf
vgg16_inf_no_mlm